# indicator-upower
ACTION=="add|change", SUBSYSTEM=="power_supply", KERNEL=="battery", RUN+="/bin/sh -c  'f=/sys/class/power_supply/battery/charging_enabled; /bin/test -e $f && /bin/chmod 0664 $f && /bin/chown phablet $f'"
ACTION=="add|change", SUBSYSTEM=="power_supply", KERNEL=="battery", RUN+="/bin/sh -c  'f=/sys/class/power_supply/battery/battery_charging_enabled; /bin/test -e $f && /bin/chmod 0664 $f && /bin/chown phablet $f'"
