# indicator-upower

SUBSYSTEM=="power_supply", TEST=="/sys/class/power_supply/battery/charging_enabled", \
    RUN+="/bin/chmod 0664 /sys/class/power_supply/battery/charging_enabled", \
    RUN+="/bin/chown phablet /sys/class/power_supply/battery/charging_enabled"

SUBSYSTEM=="power_supply", TEST=="/sys/class/power_supply/battery/battery_charging_enabled", \
    RUN+="/bin/chmod 0664 /sys/class/power_supply/battery/battery_charging_enabled", \
    RUN+="/bin/chown phablet /sys/class/power_supply/battery/battery_charging_enabled"

SUBSYSTEM=="platform", TEST=="/proc/mtk_battery_cmd/current_cmd", \
    RUN+="/bin/chmod 0664 /proc/mtk_battery_cmd/current_cmd", \
    RUN+="/bin/chown phablet /proc/mtk_battery_cmd/current_cmd"

SUBSYSTEM=="power_supply", TEST=="/sys/devices/platform/mtk-master-charger/charging_enable", \
    RUN+="/bin/chmod 0664 /sys/devices/platform/mtk-master-charger/charging_enable", \
    RUN+="/bin/chown phablet /sys/devices/platform/mtk-master-charger/charging_enable"

SUBSYSTEM=="power_supply", TEST=="/sys/class/power_supply/charger/charging_enabled", \
    RUN+="/bin/chmod 0664 /sys/class/power_supply/charger/charging_enabled", \
    RUN+="/bin/chown phablet /sys/class/power_supply/charger/charging_enabled"

SUBSYSTEM=="power_supply", TEST=="/sys/devices/platform/odm/odm:charger_controller/cmd_charging_enabled", \
    RUN+="/bin/chmod 0664 /sys/devices/platform/odm/odm:charger_controller/cmd_charging_enabled", \
    RUN+="/bin/chown phablet /sys/devices/platform/odm/odm:charger_controller/cmd_charging_enabled"
